.con {
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
}

.block-con {
	position: relative; 
	margin-top: 50px;
	width: 100%;
	display: flex; 
	justify-content: center; 
}

.content {
	display: flex;
	justify-content: space-between;
	gap: 80px;
}

.block {
	width: 180px;
	height: 250px;
	background: #fff;
	border-radius: 10px;
}

.song-image{
	width: 180px;
	height: 150px;
	border-radius: 9px 9px 0 0;
	margin-top: -5px;
}
.name{
	color: #fff;
	margin-left: 70px;
	margin-top: 50px;
	border-left: 5px solid;
	padding-left: 15px;
	text-transform: uppercase;
}
.artist{
	margin-left: 20px;
	margin-top: 20px;
}
.title{
	margin-left: 20px;
	margin-top: 10px;
}
.music-xit{
	display: flex;
	height: 60px;
}
.artist-name{
	color: #fff;
	margin: 40px -30px;
}
.block-s{
	width: 100%;
	height: 90px;
	border-top: 2px solid rgb(225, 225, 225, 0.2);
	border-bottom: 2px solid rgb(225, 225, 225, 0.2);
	padding: 20px 700px;
}
h4{
	color: #fff;
	font-size: 20px;
}

.im1{
	background-image: url(../img/home-album/img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;

}
.im2{
	background-image: url(../img/home-album/img2.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;

}
.im3{
	background-image: url(../img/home-album/img3.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	
}
.im4{
	background-image: url(../img/home-album/img4.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	
}
.im5{
	background-image: url(../img/home-album/img5.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	
}

.artist-im{
	max-width: 1700px;
width: 100%;
margin: 0 auto;
}
.name2{
	color: #fff;
	margin-left: 70px;
	margin-top: 100px;
	border-left: 5px solid;
	padding-left: 15px;
	text-transform: uppercase;
}

.artist-block{
	width: 100%;
	height: 200px;
	display: flex;
	gap: 70px;
	margin-top: 80px;
	justify-content: center;
}

.ar{
 width: 100px;
 height: 100px;
 border-radius: 100px;
 cursor: pointer;
}

.block-ar1{
	background-image: url(../img/ar1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}
.block-ar2{
	background-image: url(../img/ar2.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}
.block-ar3{
	background-image: url(../img/ar3.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}
.block-ar4{
	background-image: url(../img/ar4.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}
.block-ar5{
	background-image: url(../img/ar5.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}
.block-ar6{
	background-image: url(../img/ar6.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}
.block-ar7{
	background-image: url(../img/ar7.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}


.name-ar1{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: -10px;
}
.name-ar2{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: 6px;
}
.name-ar3{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: 20px;
}
.name-ar4{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: 30px;
}
.name-ar5{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
}
.name-ar6{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: 5px;
}
.name-ar7{
	color: #fff;
	width: 200px;
	margin-top: 10px;
	margin-left: 25px;
}
.ar:hover{
	opacity: .6;
}