.hide {
  display: none;
}

.button {
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
	z-index: 5;
	transition: opacity 200ms;
  visibility: hidden;
	opacity: 0;
	&.light {
    background: rgba(255,255,255,0.5);
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
}

#p1:checked ~ #popup1.overlay {
  visibility: visible;
  opacity: 1;
}
#p2:checked ~ #popup2.overlay {
  visibility: visible;
  opacity: 1;
}

.popup {
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	width: 300px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }
  h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 10px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .content-vxod {
    width: 500px;
		height: auto;
		margin-top: 30px;

  }

}

input{
	width: 230px;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	margin-top: 40px;
}
.vxod{
	background: rgb(16,16,41);
	overflow: hidden;
	/* transition: all .6s; */
	margin-top: 50px;
	margin-left: 5px;
	border-radius: 10px;
	border: none;
	width: 250px;
	height: 40px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}
.vxod:hover{
	background: rgb(53, 1, 61); 
	border: 1px solid;
}
.text-b{
	margin-top: 20px;
}
.regs{
	position: absolute;
	margin-top: -10px;
	color: #0d66b8;
	text-transform: uppercase;
}


.b-block{
	display: flex;
}
.butn3{
	position: absolute;
margin-top: 20px;
margin-left: 20px;
color: #0d66b8;
}



















.profile-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #2196f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.logout-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}