.container{
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid rgb(225, 225, 225, 0.2);
	border-bottom: 2px solid rgb(225, 225, 225, 0.2);
	padding: 0 50px;
	background: none;
	margin-top: 5px;

	height: 60px;
	align-items: center;
}
.center{
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
}
nav{
	display: flex;
	justify-content: center;
	width: 100%;
	background: none;
}
nav a{
	color: white;
	margin: 30px;
}
.container img{
	width: 20px;
	height: 20px;
}
.logo{
	color: white;
	text-transform: uppercase;
}
nav a:hover{
	color: rgb(0, 191, 255);
}



.login-message {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}