
.block-chek{
	width: 300px;
	height: 400px;
	background: white;
	margin: auto;
	margin-top: 90px;
	border-radius: 5px;
	box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.107);
}
.input{
	width: 230px;
	border: none;
	outline: none;
	margin-left: 30px;
	border-bottom: 1px solid;
	margin-top: 40px;
}
.h1{
	text-align: center;
	box-sizing: border-box;
	padding-top: 50px;
	font-size: 25px;
	font-weight: 800;
}
.p1{
	text-align: center;
	background: black;
	width: 140px;
	height: 30px;
	color: white;
	font-size: 23px;
	box-sizing: border-box;
	padding-top: 2px;
	margin: auto;
	border-radius: 5px;
	text-transform: uppercase;
}
.vx{
	background: rgb(16,16,41);
	overflow: hidden;
	/* transition: all .6s; */
	margin-top: 50px;
	margin-left: 25px;
	border-radius: 10px;
	border: none;
	width: 250px;
	height: 40px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}
button:hover{
	background: rgb(53, 1, 61); 
}

a{
	text-decoration: none;
	color: rgb(0, 79, 170);
}

.reg-message {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}